
/// ...
/// @group framework
/// @access public
$h0-size						: (38px, 46px) !default;

/// ...
/// @group framework
/// @access public
$h1-size						: (33px, 40px) !default;

/// ...
/// @group framework
/// @access public
$h2-size						: (26px, 32px) !default;

/// ...
/// @group framework
/// @access public
$h3-size						: 25px !default;

/// ...
/// @group framework
/// @access public
$h4-size						: 20px !default;

/// ...
/// @group framework
/// @access public
$h5-size						: 16px !default;

/// ...
/// @group framework
/// @access public
$h6-size						: 13px !default;

/// ...
/// @group framework
/// @access public
%copy-ellipsis
{
	overflow					: hidden;
	text-overflow				: ellipsis;
	white-space					: nowrap;
}

/// ...
/// @group framework
/// @access public
%copy-lead
{
	font-size					: 1.3125rem;
	line-height					: 1.5;
}

/// ...
/// @group framework
/// @access public
%copy-large
{
	font-size					: 1.125rem;
	line-height					: 1.6;
}

/// ...
/// @group framework
/// @access public
%copy-meta
{
	font-size					: .875rem;
	line-height					: 1.6;
}

/// ...
/// @group framework
/// @access public
%copy-micro
{
	font-size					: .75rem;
	line-height					: 1.5;
}

/// ...
/// @group framework
/// @access public
%copy-p1
{
	font-weight					: 600;
}

/// ...
/// @group framework
/// @access public
%copy-p2
{
	font-weight					: 300;
}

/// ...
/// @group framework
/// @access public
%copy-fancy
{
	font-family					: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	font-style					: italic;
	font-weight					: normal;
}

p
{
	padding						: 0;
}

p,
ul,
ol,
pre,
table,
blockquote,
meter,
progress,
address,
hr
{
	margin-bottom				: 1.5rem;
	margin-top					: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul
{
	margin-top					: 0;
	margin-bottom				: 0;
}

dd
{
	> *:first-child
	{
		margin-top				: 0;
	}

	> *:last-child
	{
		margin-bottom			: 0;
	}
}

p
{
	orphans						: 3;
	widows						: 3;
}

b,
strong,
em,
small,
code
{
	line-height				: 1;
}

sup,
sub
{
	vertical-align				: baseline;
	position					: relative;
	top							: -0.4em;
}

sub
{
	top							: 0.4em;
}

/*---
Blockquote
@group			Typography/Quotes
@desc			The <code>blockquote</code> element represents a section that is quoted from another source.
				Content inside a <code>blockquote</code> must be quoted from another source, whose address, if it has one, may be cited in the cite attribute.
@todo			Document
@author			Michael Ord
@tags			default,typography,quote
@partial		typography/blockquote
@modifier		foo - dsjkhd
---
<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</p>
</blockquote>
*/
blockquote
{
	quotes						: "\201C""\201D""\2018""\2019";
	margin						: 0 0 2rem 0;
	padding						: 0 0 0 1.5rem;
	border-left					: 4px solid $clr-primary;
	position					: relative;
	display						: block;

	@include device(md)
	{
		max-width				: 90%;
	}

	> p
	{
		font-size				: 120%;

		&:first-of-type
		{
			margin-top			: 0;

			&:before
			{
			//	content			: open-quote;
			}
		}

		&:last-of-type
		{
			margin-bottom		: 0;

			&:after
			{
			//	content			: close-quote;
			}
		}
	}

	footer
	{
		position				: relative;
		margin-top				: 1.5rem;

		.name
		{
			+ .position
			{
				display			: block;
			}
		}

		.position
		{

		}
	}
}

/*
.blockquote--alt
{
	text-align					: right;
	padding						: 0 1.5rem 0 0;
	border-left					: none;
	border-right				: 4px solid $clr-primary;
}
*/

/*---
Content Styles
@group			Typography/Utility
@desc			...
@modifier		copy-ellipsis		: Ellipsis
@modifier		copy-fancy			: Fancy
@modifier		copy-emphasized 	: Emphasized
@modifier		copy-de-emphasized	: De-Emphasized
@modifier		copy-lead			: Lead
@modifier		copy-large			: Large
@modifier		copy-meta			: Meta
@modifier		copy-micro			: Micro
@todo			Document
@author			Michael Ord
@tags			helper,typography
---
<p class="{modifier}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sapiente fugiat, provident quos amet, explicabo optio modi accusamus. Consectetur sequi suscipit magni adipisci voluptates expedita deleniti officia delectus velit at!</p>
*/
.copy
{
	&-ellipsis
	{
		@extend %copy-ellipsis;
	}

	&-fancy
	{
		@extend %copy-fancy;
	}

	&-emphasized
	{
		@extend %copy-p1;
	}

	&-de-emphasized
	{
		@extend %copy-p2;
	}

	&-lead
	{
		@extend %copy-lead;
	}

	&-large
	{
		@extend %copy-large;
	}

	&-meta
	{
		@extend %copy-meta;
	}

	&-micro
	{
		@extend %copy-micro;
	}
}

@mixin heading()
{
	font-weight					: 400;

	// make sure that headings display block by default, we need to do this as
	// classes give us the ability to add heading styles to none-block elements
	display						: block;
	padding						: 0;
	margin						: 0 0 15px 0;
	font-family					: $base-heading-font-family;
	color						: $core-heading-color;

	 small,
	.small
	{
		font-weight				: 400;
		line-height				: 1;
		color					: #777;
	}

	// links within
	a
	{
		&,
		&:hover,
		&:focus
		{
			text-decoration		: none;
			color				: inherit;
		}
	}
}

.h0,
 h1,
.h1,
 h2,
.h2,
 h3,
.h3,
 h4,
.h4,
 h5,
.h5,
 h6,
.h6 {
	@include heading();
}

/*---
Heading Zero
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h1 class="h0">Heading Zero/Hero</h1>
*/
@mixin h0()
{
	@if(type-of($h0-size) == list)
	{
		@include fluid-type(nth($h0-size, 1), nth($h0-size, 2));
	}
	@else
	{
		font-size				: $h0-size;
	}

	line-height					: 1.125;
	position					: relative;
	padding-bottom				: 18px;
	font-weight					: 700;
}

.h0 {
	@include h0();
}

/*---
Heading One
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h1>Heading One</h1>
*/
@mixin h1()
{
	@if(type-of($h1-size) == list)
	{
		@include fluid-type(nth($h1-size, 1), nth($h1-size, 2));
	}
	@else
	{
		font-size				: $h1-size;
	}

	line-height					: 1.125;
	position					: relative;
	padding-bottom				: 18px;
	font-weight					: 600;
}

 h1,
.h1 {
	@include h1();
}

/*---
Heading Two
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h2>Heading Two</h2>
*/

@mixin h2()
{
	line-height					: 1.16667;
	font-weight					: 500;

	@if(type-of($h2-size) == list)
	{
		@include fluid-type(nth($h2-size, 1), nth($h2-size, 2));
	}
	@else
	{
		font-size				: $h2-size;
	}

	&:before,
	&:after
	{
		display					: none;
	}
}

 h2,
.h2 {
	@include h2();
}

/*---
Heading Three
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h3>Heading Three</h3>
*/

@mixin h3()
{
	@if(type-of($h3-size) == list)
	{
		@include fluid-type(nth($h3-size, 1), nth($h3-size, 2));
	}
	@else
	{
		font-size				: $h3-size;
	}

	line-height					: 1.2;
	font-weight					: 300;

	&:before,
	&:after
	{
		display					: none;
	}
}

 h3,
.h3 {
	@include h3();
}

/*---
Heading Four
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h4>Heading Four</h4>
*/

@mixin h4()
{
	@if(type-of($h4-size) == list)
	{
		@include fluid-type(nth($h4-size, 1), nth($h4-size, 2));
	}
	@else
	{
		font-size				: $h4-size;
	}

	line-height					: 1.22222;
	font-weight					: 300;

	&:before,
	&:after
	{
		display					: none;
	}
}

 h4,
.h4 {
	@include h4();
}

/*---
Heading Five
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h5>Heading Five</h5>
*/

@mixin h5()
{
	@if(type-of($h5-size) == list)
	{
		@include fluid-type(nth($h5-size, 1), nth($h5-size, 2));
	}
	@else
	{
		font-size				: $h5-size;
	}

	line-height					: 1.25;
	font-weight					: 600;

	&:before,
	&:after
	{
		display					: none;
	}
}

 h5,
.h5 {
	@include h5();
}

/*---
Heading Six
@group			Typography/Headings
@desc			...
@author			Michael Ord
@tags			default,typography,heading
---
<h6>Heading Six</h6>
*/

@mixin h6()
{
	@if(type-of($h6-size) == list)
	{
		@include fluid-type(nth($h6-size, 1), nth($h6-size, 2));
	}
	@else
	{
		font-size				: $h6-size;
	}

	line-height					: 1.25;
	font-weight					: 600;

	&:before,
	&:after
	{
		display					: none;
	}
}

 h6,
.h6 {
	@include h6();
}
