
<blockquote class="{{modifiers "blockquote" modifiers}}">
	{{lorem}}
	<footer>
		<div class="author">
			<div class="media">
				<figure class="media__figure">
					{{PlaceholderImage 30}}
				</figure>
				<div class="media__body">
					<p>by <a href="#">{{PlaceholderName}}</a></p>
				</div>
			</div>
		</div>
	</footer>
</blockquote>
